<%- include("../partials/top"); %> 
  <div style="width: 50rem; margin: 0 auto">
  <h1>Users</h1>
    <% for (user of users) { %>
      <div class="card mt-3">
        <div class="card-body">
          <a href=<%= "users/" + user.id %> class="text-decoration-none">
            <h5 class="card-title"><%= user.name %> <%= user.lastname %></h5>
          </a>
          <h6 class="card-subtitle mb-2 text-muted"><%= user.email %></h6>
        </div>
      </div>
    <% } %>
  </div>
<%- include("../partials/bottom"); %>
